<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>International Football Results</title>
</head>
<body>
    <header>
        <h1>International Football Results</h1>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    <main>
        <section class="content">
            {% block content %}{% endblock %}
        </section>
    </main>
</body>
</html>
